@import 'tailwindcss';

@layer base {
	:root {
		/* Color system */
		--color-primary: #5b3a29;
		--color-secondary: #f4efea;
		--color-accent: #c89b6a;

		--text-main: #1f2937;
		--text-muted: #6b7280;

		/* Font */
		--font-heading: 'Poppins', sans-serif;
		--font-body: 'Inter', sans-serif;

		/* Radius */
		--radius-md: 10px;
		--radius-lg: 16px;
	}

	/* Apply fonts to elements */
	body {
		font-family: var(--font-body);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}
